<meta charset="UTF-8">
<title>AI CAM</title>
<meta name="author" content="GYOUNG-YOON RYOO">
<meta name="description" content="Smart webcam service. Person detection and record video. Running without any server connection.">
<!--
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
<script src="/static/&#64;tensorflow/tfjs"></script>
<script src="/static/&#64;tensorflow-models/coco-ssd"></script>
-->
<script type="text/javascript" charset="utf-8" async="" src="{{ url_for('static', filename='test.js') }}"></script>
<div id="test"></div>